<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img [ngSrc]="config?.logo" alt="Logo" class="px-2" height="50" width="50"/>
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of config?.links"
                     [routerLink]="[link.url]"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{exact: true}">
        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        <a matListItemLine>{{ link.title }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      <span routerLink="/">{{ config?.title }}</span>
    </mat-toolbar>
   <main class="m-2">
     <router-outlet />
   </main>
  </mat-sidenav-content>
</mat-sidenav-container>
